<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,900&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home...</title>
    <link rel="stylesheet" href="/styles/home.css">
    
    
</head>

<body>
    <div class="nav">
        <ul>
            <br>
            <li class="product"><a href="/home"><i class="icon">🛍️</i>Products</a></li>
            <li class="purchased"><a href="/purchased"><i class="icon">✅</i>Purchased</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="data">
        <div class="container">
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>300</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>600</p>
                <img src="/images/img/01.jpg" alt="Product 1">
                <h3>iPhone 6</h3>
                <div class="moneyedge">
                    <p><span>12</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>50</p>
                    <p>daily</p>
                </div>
                <!-- <a href="#" class="buy-button">Buy Now</a> -->
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="1">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>700</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>1440</p>
                <img src="/images/img/02.jpg" alt="Product 1">
                <h3>iPhone 8</h3>
                <div class="moneyedge">
                    <p><span>12</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>120</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="2">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>1000</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>1920</p>
                <img src="/images/img/03.jpg" alt="Product 1">
                <h3>iPhone 11</h3>
                <div class="moneyedge">
                    <p><span>12</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>160</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="3">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>1500</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>2580</p>
                <img src="/images/img/04.jpg" alt="Product 1">
                <h3>iPhone 12</h3>
                <div class="moneyedge">
                    <p><span>12</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>215</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="4">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>2000</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>3000</p>
                <img src="/images/img/05.jpg" alt="Product 1">
                <h3>iPhone 13</h3>
                <div class="moneyedge">
                    <p><span>12</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>250</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="5">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>2500</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>5250</p>
                <img src="/images/img/06.jpg" alt="Product 1">
                <h3>iPhone 14 pro max</h3>
                <div class="moneyedge">
                    <p><span>15</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>350</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="6">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>3000</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>10,000</p>
                <img src="/images/img/07.jpg" alt="Product 1">
                <h3>iPhone 15 pro max</h3>
                <div class="moneyedge">
                    <p><span>20</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>500</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="7">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>5000</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>10,000</p>
                <img src="/images/img/08.jpg" alt="Product 1">
                <h3>Freezer=8</h3>
                <div class="moneyedge">
                    <p><span>10</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>1000</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="8">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            <div class="box">
                <p class="price">Price <i class="fa-solid fa-indian-rupee-sign"></i>10,000</p>
                <p class="price">Total Income <i class="fa-solid fa-indian-rupee-sign"></i>17,500</p>
                <img src="/images/img/09.jpg" alt="Product 1">
                <h3>Water heater-68</h3>
                <div class="moneyedge">
                    <p><span>7</span> days</p>
                    <p>cycle</p>
                </div>
                <div class="moneyedgetwo">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>2500</p>
                    <p>daily</p>
                </div>
                <form action="/home" method="POST">
                    <input type="hidden" name="product" value="9">
                    <input type="submit" value="Buy Now" style="padding: 7px; margin: 2px; background-color: rgb(0, 21, 255);color: white; cursor: pointer;font-size: 17px;">
                  </form>
            </div>
            
            <!-- Repeat the box structure for the other products -->

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <nav>
        <ul>
            <li class="section"><a href="/home"><i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12 2L2 12h3v8h4v-6h4v6h4v-8h3zM14 18H10v-6H7.5L12 7.5l4.5 4.5H14" fill="#fff"/>
                </svg>
              </i>
              <br>Home</a></li>
            <li class="section"><a href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M7 4V20H17V4H7ZM6 2H18C18.5523 2 19 2.44772 19 3V21C19 21.5523 18.5523 22 18 22H6C5.44772 22 5 21.5523 5 21V3C5 2.44772 5.44772 2 6 2ZM12 17C12.5523 17 13 17.4477 13 18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18C11 17.4477 11.4477 17 12 17Z"></path></svg><br>Products</a></li>
            <li class="section"><a href="/services"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M19.9381 8H21C22.1046 8 23 8.89543 23 10V14C23 15.1046 22.1046 16 21 16H19.9381C19.446 19.9463 16.0796 23 12 23V21C15.3137 21 18 18.3137 18 15V9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9V16H3C1.89543 16 1 15.1046 1 14V10C1 8.89543 1.89543 8 3 8H4.06189C4.55399 4.05369 7.92038 1 12 1C16.0796 1 19.446 4.05369 19.9381 8ZM3 10V14H4V10H3ZM20 10V14H21V10H20ZM7.75944 15.7849L8.81958 14.0887C9.74161 14.6662 10.8318 15 12 15C13.1682 15 14.2584 14.6662 15.1804 14.0887L16.2406 15.7849C15.0112 16.5549 13.5576 17 12 17C10.4424 17 8.98882 16.5549 7.75944 15.7849Z"></path></svg><br>Services</a></li>
            <li class="section"><a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
                <path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM6.02332 15.4163C7.49083 17.6069 9.69511 19 12.1597 19C14.6243 19 16.8286 17.6069 18.2961 15.4163C16.6885 13.9172 14.5312 13 12.1597 13C9.78821 13 7.63095 13.9172 6.02332 15.4163ZM12 11C13.6569 11 15 9.65685 15 8C15 6.34315 13.6569 5 12 5C10.3431 5 9 6.34315 9 8C9 9.65685 10.3431 11 12 11Z"></path>
              </svg>
              <br>My</a></li>
        </ul>
    </nav>
    <script src="/script.js"></script>
    
    
    
    
    
</body>

</html>