<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,900&display=swap"
        rel="stylesheet">
  <style>
    .logo{
      font-family: 'Poppins', sans-serif;
width: 100%;
/* background-color: #f5e6e8; */
display: flex;
align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* color: red; */
    }
  </style>
</head>
<body style="background-color: #967aa1;">
  <div class="container" style="background-color: #192a51;">
    <div class="logo">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="300.000000pt" height="173.000000pt" viewBox="0 0 300.000000 173.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,173.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M1770 1714 c-147 -40 -270 -189 -270 -329 l0 -45 38 0 c92 0 211 93 264 206 29 63 51 185 32 183 -5 0 -34 -7 -64 -15z m20 -66 c0 -40 -37 -121 -76 -167 -39 -46 -111 -91 -147 -91 -28 0 -29 1 -22 38 9 51 50 123 94 165 32 31 123 86 144 87 4 0 7 -15 7 -32z"/> <path d="M1705 1300 c-33 -10 -87 -28 -120 -40 -68 -26 -94 -23 -224 25 -241 87 -489 -73 -540 -349 -32 -173 6 -391 102 -581 67 -134 197 -290 262 -315 47 -18 111 -11 197 22 110 41 195 43 288 4 78 -33 154 -43 203 -27 19 7 56 30 81 52 73 65 198 263 230 365 5 17 -3 26 -43 52 -99 64 -153 148 -172 263 -20 122 19 228 117 326 l63 62 -48 44 c-110 103 -257 139 -396 97z m251 -51 c28 -11 68 -34 89 -52 l38 -33 -48 -60 c-119 -146 -142 -305 -65 -460 31 -64 84 -127 133 -158 33 -22 34 -45 3 -113 -54 -116 -162 -250 -228 -284 -52 -26 -91 -24 -189 12 -116 44 -201 44 -317 0 -96 -36 -138 -39 -191 -11 -99 50 -252 297 -302 486 -25 97 -35 268 -20 349 36 193 176 330 349 343 59 4 80 0 171 -32 58 -20 117 -36 132 -36 15 0 61 12 101 27 157 57 236 62 344 22z"/> </g> </svg> 
    </div>
    <form id="login-form" method="POST" action="/login">
      <h1 style="color: white;">Login</h1>
      <label for="" id="Errormsg"></label>
      <input type="tel" name="phoneNumber" placeholder="Phone Number" value="+91" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" id="showMessageButton" style="font-family:'Poppins', sans-serif;">Login</button>
    </form>
    <br>
    <a href="/">Create New account</a>
  </div>
</body>
<script>
  const Errormsg = document.getElementById('Errormsg');
  const showMessageButton = document.getElementById('showMessageButton');
  Errormsg.style.backgroundColor="red"
  Errormsg.style.color="White"
  showMessageButton.addEventListener('click', () => {
  Errormsg.textContent = 'Please Check your PhoneNumber or Password.';
});
</script>
</html>
